/* fonts */

body {
    font-family: Vazirmatn;
}

div.carousel-item img {
    height: 500px;
    object-fit: cover;
}

li.nav-ul-li {
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 255, 0.1);
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 100%;
    background-size: 200% 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

li.nav-ul-li:hover {
    background-position: 0 100%;
    border-bottom: 1px solid blue;
    box-shadow: 0 3px 0 0 rgba(0, 0, 255, 0.1);
}